<div class="about-container">
  <h1>About</h1>

  <div class="about-container-inner">
    <h2>About us</h2>
    <p>
      There are an estimated 390,000 species of vascular plants on Earth, with
      about 10 percent more yet to be discovered. These plants, both known and
      unknown, may hold answers to many of the world's health, social,
      environmental, and economic problems. A comprehensive inventory of plant
      life is vital for protecting many threatened species and realizing their
      full potential before they, and the possibilities they offer, become
      extinct.
    </p>

    <h2>What you do with us</h2>
    <p>
      Our mission is to provide comprehensive information on all vascular plants
      on Earth. By joining us, you can help improve our database and contribute
      additional valuable information. Together, we aim to support efforts in
      understanding and conserving plant diversity, discovering new species, and
      exploring their potential to address global health, social, environmental,
      and economic challenges. Let's work together to protect and realize the
      full potential of the world's plant life before it's too late.
    </p>

    <h2>How can you do that</h2>
    <p>
      Send us your suggestions, and we will study them thoroughly before adding
      them to our portal. Your input is invaluable in enhancing our database and
      ensuring it remains accurate and comprehensive. Together, we can make a
      significant impact on the understanding and conservation of vascular
      plants worldwide.
    </p>
  </div>
</div>
