<div class="about-container">
  <h1>About</h1>

  <div class="about-container-inner">
    <h1>About us</h1>
    <p>
      There are an estimated 390,000 species of vascular plants on Earth, with
      about 10 percent more yet to be discovered. These plants, both known and
      unknown, may hold answers to many of the world's health, social,
      environmental, and economic problems. A comprehensive inventory of plant
      life is vital for protecting many threatened species and realizing their
      full potential before they, and the possibilities they offer, become
      extinct.
    </p>
  </div>
</div>
