<div class="list-container-outer">
  <div class="list-container-outer-finder">
    <form [formGroup]="myForm">
      <label>family </label>
      <input
        type="text"
        placeholder="family"
        formControlName="family"
        (input)="selector()"
        [readonly]="flag"
      />
      <label>scientfiicname </label>
      <input
        type="text"
        placeholder="scientfiicname"
        formControlName="scientfiicname"
        (input)="selector()"
        [readonly]="flag2"
      />
      <label>genus </label>
      <input
        type="text"
        placeholder="genus"
        formControlName="genus"
        (input)="selector()"
        [readonly]="flag3"
      />
    </form>
  </div>
  <p-table
    [value]="products"
    [tableStyle]="{
      'min-width': '50rem',
      'background-color ': 'red',
      width: '100%'
    }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>family</th>
        <th>genus</th>
        <th>scientfiicname</th>
        <th>subgenus</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.family }}</td>
        <td>{{ product.genus }}</td>
        <td>{{ product.scientfiicname }}</td>
        <td>{{ product.subgenus }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
