.view-container {
  border: dotted #000 1px;
  padding: 1%;
  margin-top: 1%;
  border-radius: 8px;
  background-color: #314222;
  color: #eff3b8;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #34db5e;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}
