<div class="message-card">
  <p-messages
    [value]="msg"
    [closable]="true"
    [enableService]="false"
  ></p-messages>
</div>

<h1 style="color: #ecc767">Information</h1>

<div class="view-container">
  <div class="loader-container" *ngIf="family == ''">
    <div *ngIf="family == ''" class="loader"></div>
  </div>
  <div *ngIf="family !== ''">
    <h1>{{ family }}</h1>
    <p>Genus : {{ genus }}</p>
    <p>Scientific name : {{ scientfiicname }}</p>
    <p>Sub family : {{ subfamily == "" ? "not defined" : subfamily }}</p>
    <p>Tribe : {{ tribe == "" ? "not defined" : tribe }}</p>
    <p>Subgenus : {{ subgenus == "" ? "not defined" : subgenus }}</p>
    <p>Name : {{ name }}</p>
    <p-button
      label="Add Something"
      [outlined]="true"
      severity="contrast"
      *ngIf="!flag"
      (click)="setter()"
    />
  </div>

  <form class="contact-container-form" [formGroup]="myForm" *ngIf="flag">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" formControlName="email" />

    <label for="message">Message</label>
    <textarea
      id="message"
      name="message"
      rows="5"
      formControlName="message"
    ></textarea>

    <button type="submit" (click)="addRequest()">Send</button>
  </form>
</div>
