.message-card {
  width: fit-content;
  height: 10vh;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}

::ng-deep .menucus {
  background-color: #99b66e;
  color: #314222;
}

::ng-deep .menucus .p-menuitem :hover {
  background-color: #719646 !important;
  border-radius: 6px;
}


