<div class="home-container-main">
  <h1>Plantee</h1>
  <div class="home-container-sec">
    <div class="home-container-sec-button-grid">
      <p-button
        label="About us"
        [raised]="true"
        severity="success"
        (click)="about()"
      />
      <p-button
        label="Find"
        [raised]="true"
        severity="success"
        (click)="list()"
      />
      <p-button
        label="Contact us"
        [raised]="true"
        severity="success"
        (click)="contact()"
      />
    </div>
  </div>
</div>
